@model ASPtask.Models.Student

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Student</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StudentID" />
            <div class="form-group">
                <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="LastName" class="form-control" placeholder="Last Name"/>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="EMail" class="form-control" placeholder="E-Mail"/>
                <span asp-validation-for="EMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Course" class="form-control" placeholder="Course" />
                <span asp-validation-for="Course" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="UniversityID" class="form-control" placeholder="University ID" />
                <span asp-validation-for="UniversityID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-primary" />
                <input type="button" value="Go Back" class="btn btn-outline-warning" onclick="location.href='@Url.Action("Index", "Students")'" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
