@{ ViewData["Title"] = "About Us"; }

<div class="text-center">
    <h1 class="h-auto">Welcome to an independent survey service!</h1>
    <p>We provide surveys and stats on universities, so you will be able to choose the right one that suits just for you!</p>
    <p>Complete university ranking is availaible at the <a asp-area="" asp-controller="Universities" asp-action="Index">results tab</a>.</p>
</div>