<p>
    <a asp-controller="EditSurvey" asp-action="Index">Show questions</a>
    <br>
    <a asp-controller="Universities" asp-action="Index">Show universities</a>
    <br>
    <a asp-controller="Students" asp-action="Index">Show students</a>
</p>