<div>
    <input type="button" value="Edit survey questions" class="btn btn-outline-primary" onclick="location.href='@Url.Action("Index", "EditSurvey")'" />
</div>
<br>
<div>
    <input type="button" value="Edit universities" class="btn btn-outline-primary" onclick="location.href='@Url.Action("Index", "Universities")'" />
</div>
<br>
<div>
    <input type="button" value="Edit students" class="btn btn-outline-primary" onclick="location.href='@Url.Action("Index", "Students")'" />
</div>