@model string
@{
    ViewData["Title"] = "Log In";
}

<h1>Log In as Admin</h1>

<form action="AdminPasswordCheck">
    <div class="mb-3 row">
        <label for="pass" class="col-auto col-form-label">Enter password:</label>
        <div class="col-auto">
            <input type="password" class="form-control" id="pass" name="pass" required minlength="6" maxlength="32" />
            <span class="text-danger"></span>
        </div>
        <div class="col-auto">
            <input type="submit" value="Log In" class="btn btn-outline-warning" />
        </div>
    </div>
</form>