<p>
    <a asp-controller="EditSurvey" asp-action="Create">Create New Question</a>
</p>
<p>
    <a asp-controller="Universities" asp-action="Create">Add University</a>
</p>
<p>
    <a asp-controller="Students" asp-action="Create">Add Student</a>
</p>