@{
    ViewData["Title"] = "Contacts";
}

<div class="text-center">
    <h1 class="h-25">Email me at <a href="mailto:ke1806ria89@susu.ru">ke1806ria89@susu.ru</a> on any questions!</h1>
</div>

