@{ ViewData["Title"] = "Home Page"; }

<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->

<div class="jumbotron">
    <h1>A brief survey for the foreign students</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>First step</h2>
        <p>
            First of all you have to select your university, your faculty, your course and your group
        </p>
    </div>
    <div class="col-md-4">
        <h2>Second step</h2>
        <p>
            Then you will be given ten questions about your experience in a foreign university.<br>
            After submitting your response, you will be able to compare your opinion with others!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Let's roll!</h2>
        <p>
            Hit the 'Start survey' button if you're familiar with our <a asp-area="" asp-controller="Home" asp-action="Privacy">privacy policy</a> and ready to share some experience!
        </p>
        <p><a class="nav-link text-dark" asp-area="" asp-controller="Survey" asp-action="Index">Start survey &raquo;</a></p>
    </div>
</div>