@model ASPtask.Models.University

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit University</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UniversityID" />
            <div class="form-group">
                <input asp-for="UniversityName" class="form-control" placeholder="University Name"/>
                <span asp-validation-for="UniversityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="UniversityPoints" class="form-control" placeholder="University Points"/>
                <span asp-validation-for="UniversityPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-primary" />
                <input type="button" value="Go Back" class="btn btn-outline-warning" onclick="location.href='@Url.Action("Index", "Universities")'" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
