@model dynamic

@{
    ViewData["Title"] = "Take a Survey";
}

<h1>Complete a short survey:</h1>
<!--
<form>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="First Name">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Last Name">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="E-Mail">
        </div>
        <div class="col">
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option selected>Choose your university</option>
                
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
        </div>
    </div>
    <br>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Question:
            </th>
            <th>
                Answer
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       
            <tr>
                <td>
                    
                </td>
                <td>
                   
                </td>
            </tr>
    </tbody>
</table>
-->